* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100vh;
    overflow: hidden;
    color: $black;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

ul {
    list-style: none;
    padding-left: 1em;
}

.container {
    padding: 1em 2em;
    display: flex;
}

button {
    &.is-link {
        white-space: nowrap;
        display: flex;
        align-items: center;
        padding: 0.2em 0.3em;
        margin-bottom: 3px;
        color: inherit;
        background: none;
        border: none;
        width: 100%;

        &:hover {
            cursor: pointer;
        }
    }
}