.list {
    margin: 0;

    &>& {
        padding-left: 0;
    }

    .list-item-name {
        white-space: nowrap;
        display: flex;
        align-items: center;
        padding: 0.35rem;
        text-decoration: none;
        color: inherit;
        text-overflow: ellipsis;
        overflow: hidden;

        &.selected {
            background: $grey-dark;
        }
    }

}