.list {
    margin: 0;

    &>& {
        padding-left: 0;
    }

    .list-item-name {
        $ch: &;
        white-space: nowrap;
        display: flex;
        align-items: center;
        padding: 0 0 0.35em 0.35em;
        margin-bottom: 3px;

        &.selected {
            background: $grey-dark;
        }
    }

}