// Theme
$white: "#ffffff";
$grey-light: #f6f6f6;
$grey-dark: darken($grey-light, 40);
$yellow: #eccb0b;
$green: rgb(75, 197, 59)#eccb0b;
$blue: rgb(44, 123, 226);

// Measurements
$header-height: 5em;
$default-space: 0.5em;