@import "_variables";
@import "functions";
@import "_common";
@import "_scrollbar";
@import "_list";
@import "/src/styles/components/components.scss";


.header {
	height: $header-height;
	padding: spacing(2);
	color: $black;

	>* {
		margin: 0;
	}
}

.app-wrapper {
	display: flex;
	border: 1px solid $grey-light;

	.sidebar,
	.inner-wrapper {
		overflow: auto;
		height: calc(100vh - #{$header-height});
		padding: spacing(2);
	}

	.sidebar {
		background: $grey-light;
		flex: 0 0 400px;
	}

	.inner-wrapper {
		max-width: 100%;
		display: flex;
		flex-flow: row wrap;
		align-content: flex-start;
		flex-basis: 100%;
	}

	.error {
		text-align: center;
		padding: spacing(1) spacing(1);
	}


}